# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
.venv/
paper2_env/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/

# Model / training artifacts
checkpoints/
models/
outputs/
runs/

# Temporary files
temp/
tmp/

# Environment variables
.env

# Large datasets
*.csv
*.tsv
*.jsonl
data/

# PyTorch
*.pt
*.pth

# Git
.git/